<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("./_share/metadata.ejs") %>
  <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
  <p>This application was created in aim to learn how to use Fetch Post function.</p>
  <%- include("./_share/javascript.ejs") %>
</body>
</html>